:root {
  --div-background-color: red;
  --stylish-text: gold;
  --button-padding: 1.34rem;
  --div-padding: 10px;
  --div-margin: 10px;
}

.child {
  background-color: var(--div-background-color);
  color: var(--stylish-text);
}
